/* general styles for section title and subtitle */



/* feature styles tart here */
.features-content {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: space-between;
  gap:2%;
}
.feature {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 1em;
  gap:10%;
}
.feature picture {
  flex-basis: 30%;
}
.feature-article {
  flex-basis: 70%;
}
.feature-article h3 {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 36px;
  color: #353854;
  font-weight: 700;
}
.feature-article p {
  font-size: 16px;
  line-height: 30px;
  color: #aeaeae;
  font-weight: 400;
}

@media (min-width:800px){
    .features-content{
        flex-wrap: nowrap;
    }
    .feature{
        gap:2%;
    }
}