/* general wrapper for all content between header & footer */
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}
.content-wrapper section{
  margin: 6em auto;
}

/* general styles for section title and subtitle */
.section-title{
  margin-bottom: 3em;
}
.title {
  font-size: 36px;
  color: #648cff;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.sub {
  font-size: 18px;
  color: #999999;
  font-weight: 400;
  text-align: center;
}


/* feature styles tart here */
.features-content {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: space-between;
  gap:2%;
}
.feature {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin: 1em;
  gap:10%;
  /* border: 3px solid green; */
}
.feature picture {
  flex-basis: 30%;
  /* border: 5px solid black; */
}
.feature-article {
  flex-basis: 70%;
  /* border: 2px solid red; */
}
.feature-article h3 {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 36px;
  color: #353854;
  font-weight: 700;
}
.feature-article p {
  font-size: 16px;
  line-height: 30px;
  color: #aeaeae;
  font-weight: 400;
}

@media (min-width:800px){
    .features-content{
        flex-wrap: nowrap;
    }
    .feature{
        gap:2%;
    }
}