.last-section-wrapper {
  display: flex;
  flex-flow: column nowrap;
  border: 3px solid red;
}
.download-wrapper {
  /*no max width (background)*/
  background-color: #648cff;
}

.download {
  width: 1200px;
  height: 100px;
  border: 2px solid black;
  margin: 1em auto;
}
.footer-wrapper {
  background-color: #353753;
}
.footer {
  /* it has class "header" also so it inhereits from the header and here only the extras */
  max-width: 1200px;
  margin: 0 auto;
  padding: 6em 01em 12em 1em;
}
.app-name2{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}
.app-name2 h3{
    text-transform: uppercase;
}
.fun {
  font-size: 24px;
  color: #fc6a42;
  font-weight: 700;
  font-family: "Ubuntu";
}
.weather {
  font-size: 24px;
  color: #4466c9;
  font-weight: 700;
  font-family: "Ubuntu";
}
.footer .nav-item:hover{
    background-color: #fc6a42;
}
