.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 3px solid; */
  /* min-height: 100vh; */
}

/* welcome section */
.welcome {
  border-radius: 0% 43% 25% 25% / 1% 6% 3% 3%;
}
.header {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 1em;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10vh;
}
.app-name {
  /* flex-basis: 20%; */
  /* border: 2px solid red; */
  margin: 0 1em;
}
.navbar {
  /* general */
  margin: 0 1em;
  /*as child*/

  /*as parent*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* gap:0.8em; */
}
.nav-item {
  flex-basis: 48%;
  justify-self: center;
  text-align: center;
  margin: 0.1em 0;
  border-radius: 5px;
  /* border: 2px solid black; */
}
.nav-item a {
  display: block;
}

.social {
  margin-right: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  align-self: flex-end;
  /* border:2px solid; */
}
.social-icon {
  /* border:2px solid green; */
  height: 100%;
}
.welcome-content {
  /*the part with the page h1 and mobile pic with the app open*/
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 10vh;
}
.w-content-left {
  display: flex;
  flex-flow: column wrap;
  /* border: 3px solid green; */
  padding: 0 1em;
}
.w-content-left h1 {
  margin: 1em auto;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin: 1.5em 0;
}
.button {
  display: block;
  text-align: center;
  padding: 0.4em 0;
  flex-basis: 48%;
  border-radius: 5px;
}

.w-content-right {
  display: flex;
  flex-flow: column wrap;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-left-side {
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 45px;
}
.phone {
  margin: 0.5em auto;
}
.phone-right-side {
  display: flex;
  justify-content: space-around;
}
.degrees {
  width: 57px;
  height: 57px;
  border-radius: 29px;
}
.london {
  width: 90px;
  height: 90px;
  border-radius: 45px;
}
.rio {
  width: 55px;
  height: 55px;
  border-radius: 28px;
}
.scroll-button {
  width: 49px;
  height: 49px;
  border-radius: 25px;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-button a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 50%;
  gap: 0;
}
.arrow-part {
  zoom: 200%;
}

/* hover states */
