.testimonies {
  /* border:4px solid orange;  */
}
.testimonies-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  margin-top: 7%;
}
.testimony {
  /* border: 3px solid darkmagenta; */
  flex-basis: 95%;

  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 6%;
}

.quotation {
  font-size: 142px;
  color: #648cff;
  font-weight: 400;
  /* border: 2px solid black; */
  padding: 0;
  margin-bottom: -25.5%;
  margin-top:-8%;
}
.q-end{
    align-self: flex-end;
}
.quote {
  font-size: 24px;
  line-height: 36px;
  color: #353854;
  font-weight: 400;
}
.quote::first-letter,
.author{
    text-transform: capitalize;
}
.author {
  font-size: 18px;
  color: #353854;
  font-weight: 400;
  text-indent: 1%;
  margin-top: -1%;
  /* border: 2px solid green; */
}
@media(min-width:550px){
    .quotation{
        margin-bottom: -19%;
    }
}
@media (min-width:800px){
    .quotation{
        margin-bottom: -22%;
    }
    .testimony{
        flex-basis: 48%;
    }
    .quote{
        margin: 0 0.5em;
    }
}