.testimonies-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  margin-top: 7%;
}
.testimony {
  flex-basis: 95%;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 6%;
}

.quotation-mark {
  font-size: 142px;
  color: #648cff;
  font-weight: 400;
  padding: 0;
  margin-bottom: -24%;
  margin-top:-8%;
}
.end-quotation-mark{
    align-self: flex-end;
}
.quote {
  font-size: 24px;
  line-height: 36px;
  color: #353854;
  font-weight: 400;
}
.quote::first-letter,
.author{
    text-transform: capitalize;
}
.author {
  font-size: 18px;
  color: #353854;
  font-weight: 400;
  text-indent: 1%;
  margin-top: -1%;
}
@media(min-width:550px){
    .quotation-mark{
        margin-bottom: -17%;
    }
}
@media (min-width:800px){
    .quotation-mark{
        margin-bottom: -22%;
    }
    .testimony{
        flex-basis: 48%;
    }
    .quote{
        margin: 0 0.5em;
    }
}