.widgets-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2%;
  margin: 2em auto 0 auto;
}
.arrow {
  align-self: center;
  display: none;
}


@media (min-width: 550px) {
  
  .arrow
  {
    display: unset;
  }
  
  /* the styles for the .three-images-layout and its content are used on multiple objects, so they are in global.css */
}
